# This workflows can be triggered manually via the GitHub actions UI
# It is used to trigger an integration tests run using snapshot artifacts
# You can customize it with any parameters necesasry.
# Note that workflow_dispatch workflows are only available from master.
# So you'll need to first merge it to be able to start testing it, but once
# a first version is merged, you can point the GitHub UI towards a manual-run.yml workflow in a branch
# So merge this one early, even if its configuration is not fully finalized
#
# Github actions command reference: https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions
# Our GitHub Action is available here: https://github.com/Jahia/jahia-modules-action
name: Manual Tests Run

on:
  workflow_dispatch:
    inputs:
      jahia_image:
        description: 'Jahia Image'
        required: true
        default: 'ghcr.io/jahia/jahia-ee-dev:8-SNAPSHOT'
      manifest:
        description: 'Provisioning manifest. Can be a local repository file in the tests folder or a publicly accessible link'
        required: true
        default: 'provisioning-manifest-snapshot.yml'

# Please see "on-code-change.yml" for instructions on integration-tests
jobs:
  integration-tests:
    name: Integration Tests
    secrets: inherit
    uses: Jahia/jahia-modules-action/.github/workflows/reusable-integration-tests.yml@v2
    with:
      module_id: html-filtering
      jahia_image: ${{ github.event.inputs.jahia_image }}
      provisioning_manifest: ${{ github.event.inputs.manifest }}
      timeout_job: 120
      artifact_prefix: html-filtering-standalone-artifacts
      testrail_project: HTML Filtering Module