name: Nightly Test run

on:
  workflow_dispatch:
  schedule:
    - cron:  '15 1 * * *'

jobs:
  integration-tests-standalone:
    name: Integration Tests
    strategy:
      fail-fast: false
      matrix:
        env:
          - jahia-image: jahia-ee-dev:8-SNAPSHOT
            provisioning: provisioning-manifest-snapshot.yml
            pagerduty-incident-service: html-filtering-JahiaSN
          - jahia-image: jahia-ee:8.1
            provisioning: provisioning-manifest-snapshot-jahia-8.1.yml
            pagerduty-incident-service: html-filtering-Jahia81
    secrets: inherit
    uses: Jahia/jahia-modules-action/.github/workflows/reusable-integration-tests.yml@v2
    with:
      module_id: html-filtering
      module_branch: main
      jahia_image: ${{ matrix.env.jahia-image }}
      provisioning_manifest: ${{ matrix.env.provisioning }}
      pagerduty_incident_service: ${{ matrix.env.pagerduty-incident-service }}
      timeout_job: 65
      artifact_prefix: html-filtering-nightly-${{ matrix.env.jahia-image }}
      testrail_project: HTML Filtering Module